$menuHeight:75px;
.header{
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height: $menuHeight;
    display: flex;
    background: #242d49;
    opacity: 0.6;
    color: white;
    .menu{
        margin: 0 10px;
        height: 100%;
        line-height: $menuHeight;
        cursor: pointer;
        min-width: 80px;
        text-align: center;
        text-transform: uppercase;
        position: relative;
        font-size: 12px;
        &:hover{
            .indicator{
                display: block;
            }
        }
        .indicator{
            position: absolute;
            height: 4px;
            bottom: 0px;
            left: 0px;
            right: 0px;
            background: #FFC03A;
            display: none;
        }
    }
    .more-menu{
        position: absolute;
        right: 0;
        top: 0;
        height: $menuHeight;
        width: $menuHeight;
        background: red;
        font-family: "icons-font";
    }
}