.md-quick-search {
    max-width: 1000px;
    margin: 0 auto;
    .list {
        overflow: hidden;
        .quick-list {
            width: calc(100% + 20px);
            overflow: hidden;
            li {
                width: calc((100% - 100px) / 3);
                list-style: none;
                position: relative;
                display: inline-block;
                box-sizing: content-box;
                height: 40px;
                line-height: 40px;
                padding-left: 30px;
                a{
                    display: flex;
                    align-items: center;
                    text-decoration: none;
                }
                .search-title {
                    font-size: 14px;
                    text-align: left;
                    color: #515666;
                    display: inline-block;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    max-width: calc(100% - 65px);
                    &.hot {
                        max-width: calc(100% - 100px);
                    }
                }
                .hot-house {
                    padding-left: 8px;
                    font-size: 12px;
                    text-align: right;
                    color: #ff900a;
                    position: relative;
                }
                .num {
                    position: absolute;
                    right: 19px;
                }
                &:nth-child(2n + 1) {
                    background: #f5f6fa;
                }
                &:after {
                    content: "";
                    position: absolute;
                    top: 20px;
                    height: 50px;
                    width: 1px;
                    right: 1px;
                    background-color: #f6f6f9;
                }
            }
        }
        .quicksearch-more {
            display: none;
        }
    }
}