.edit{
    display: none;
    position: fixed;
    height: 100px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    .field-item{
        margin: 10px;
        display: flex;
        align-items: center;
        .field-title{
        }
        .field-input{

        }
    }
}