.edit{
    position: fixed;
    max-height: 400px;
    left: 10px;
    right: 10px;
    bottom: 0px;
    overflow: auto;
    background: #4C84FF;
    border-radius: 8px;
    border:2px solid white;
    color: white;
    padding: 10px;
    transform: translateY(100%);
    transition: transform ease-in-out 400ms;
    
    .edit-list{
        .field-item{
            margin: 10px;
            display: flex;
            align-items: center;
            width: calc((100% - 40px)/2);
            float: left;
            .field-title{
                margin-right: 10px;
            }
            .field-input{
                outline: none;
                border: 1px solid white;
                height: 20px;
                line-height: 20px;
                &:focus{
                    border-color: green;
                }
            }
        }
        &:after{
            content: "";
            display: block;
            clear: both;
        }
        
    }
    .oper{
        display: flex;
        .save-btn,.cancel-btn{
            height: 40px;
            width: 100px;
            display: block;
            margin: auto;
        }
    }
    
    
}