@font-face {
    font-family: "icons-font";
    font-display: swap;
    src: url("../font/icon-font/icomoon.eot");
    src: url("../font/icon-font/icomoon.eot") format("embedded-opentype"), url("../font/icon-font/icomoon.woff2") format("woff2"), url("../font/icon-font/icomoon.ttf") format("truetype"), url("../font/icon-font/icomoon.woff") format("woff"), url("../font/icon-font/icomoon.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "font-normal";
    font-display: swap;
    src: url("../font/SF/regular.eot");
    src: url("../font/SF/regular.eot") format("embedded-opentype"), url("../font/SF/regular.woff2") format("woff2"), url("../font/SF/regular.ttf") format("truetype"), url("../font/SF/regular.woff") format("woff"), url("../font/SF/regular.svg") format("svg");
}
html{
    width: 100%;
}
body{
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    font-family: "font-normal";
    margin: 0;
    padding: 0;
}