$item-margin:20px;
.fact{
    background: #aaa;
}
.fact-title{
    font-size: 20px;
    font-weight: bold;
}
.fact-list{
    margin: 10px 200px;
    .fact-item{
        float: left;
        width: calc((100% - #{$item-margin * 2})/3);
        &:nth-of-type(3n+2){
            margin:0px 20px;
        }
    }
    &:after{
        display: block;
        content: "";
        clear: both;
    }
}