.pop{
    position: fixed;
    width: 50%;
    height: 50%;
    top: 50%;
    left: 50%;
    background: white;
    transform: translate(-50%, -50%);
}
.pop-mask{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background:black;
    opacity: 0.5;
}