$item-margin: 20px;
.card-list {
    margin: 0 auto;
    overflow: hidden;
    .card-item {
        box-sizing: border-box;
        float: left;
        width: 33.33%;
        height: 420px;
        padding: 10px;
        position: relative;
        overflow: hidden;

        .ratio-image-inner,
        .ratio-image {
        height: 100%;
        }

        .mask {
            position: absolute;
            top: 10px;
            left: 10px;
            width: calc(100% - 20px);
            height: calc(100%);
        }

        &.active {
            .mask {
                background-color: rgba(3, 10, 26, 0.8);
                width: calc(100% - 20px);
            }
        }

        .house-detail {
        position: absolute;
        bottom: 0;
        width: 100%;
        box-sizing: border-box;
        color: #fff;
        padding: 26px 20px 20px;

        .house-status.house-sold-date {
            background-color: #8195bd;
            text-transform: none;
            display: inline-block;
            line-height: 24px;
            height: 24px;
            width: auto;
            padding: 0 12px;
            margin-bottom: 12px;
            text-transform: capitalize;
            font-family: "font-medium";
            font-size: 12px;
        }

        .sold-flag {
            font-size: 12px;
            font-family: "font-bold";
            height: 18px;
            line-height: 18px;
            margin-bottom: 8px;
            text-shadow: 0 1px 1px rgba(8, 17, 38, 0.3);
        }
        .initial-price {
            display: none;
            margin-bottom: 10px;
            height: 16px;
        }
        .house-price {
            font-family: "font-black";
            font-size: 24px;
            height: 24px;
            line-height: 24px;
            color: #fff;
            text-shadow: 0 1px 1px rgba(8, 17, 38, 0.3);
        }
        .house-basic {
            color: #fff;
            font-size: 14px;
            font-family: "font-bold";
            height: 20px;
            line-height: 20px;
            margin-top: 10px;
            text-shadow: 0 1px 1px rgba(8, 17, 38, 0.3);
        }

        .house-basic > span {
            float: left;
        }
        }
    }
}
